DEBUG=True
SECRET_KEY=change-this-secret-key-to-something-secure-for-production

MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=skillora_ai

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=meera.ldrp.7@gmail.com
EMAIL_HOST_PASSWORD=your_16_digit_gmail_app_password

# OAuth Configuration (for Google & GitHub continues)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
